*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: white;
}

/*highscore and time remaining*/
header {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   color: blueviolet
}

/*quiz rules*/
p {
    text-align: center;
}

/*title*/
h2 {
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
    font-size: 50px;
}


ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

/*question 1 answers*/
.question1 ul li {
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    margin-left:37%;
    max-width: 125px;
}

/*start button---need to figure out how to center this*/
.start-button {
    background-color: blueviolet;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 16px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}
