body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*high score and time remaining*/
header {
   display: flex;
   justify-content: space-between;
   margin: 20px 50px;
   color: blueviolet
}

/*removed bullet points from li*/
ul li {
    list-style: none;
}

/*quiz rules*/
p {
    text-align: center;
    margin-bottom: 50px;
}

/*title*/
h2 {
    text-align: center;
    margin: 50px 0;
    font-weight: 600;
    font-size: 50px;
}

/*questions*/
h3 {
    font-size: 30px;
}
/*start button---need to figure out how to center this*/
.start-button {
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    letter-spacing: 2px;
}

/*hide for questions, answers, input and dashboard*/
.hide {
    display: none;
}

/*intials box*/
#input-initials {
    margin-top: 50px;
}

/*high score hover/pointer*/
#high-score:hover{
    cursor: pointer;
}

#answer1 {
    margin-top: 45px;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
}

#answer2, #answer3, #answer4 {
    margin-top: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    color: white;
}

/*all done font size*/
#all-done {
    font-size: 40px;
}

/*input initials margin*/
#input-initials p {
    margin-bottom: 10px;
}